/*------------------------------------*\
$HERO
\*------------------------------------*/
.box {
    overflow: hidden;
    height: 100%;
    div {
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        position: relative;
        left: -1px;
        top: -2px;
    }
}
.box2 {
    overflow: hidden;
    height: 100%;
    div {
        position: relative;
        left: -1px;
        top: 0;
    }
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30.46%;
    height: 15.025%;
    position: absolute;
    bottom: 6%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: $level6;
    opacity: 0;
    transition: all $time;
    @media (max-width: 490px) and (orientation: landscape) {
        bottom: 14%;
    }
    @include respond-to(tablet) {
        width: 22.396%;
        height: 9.767%;
        bottom: 4%;
    }
    @media (max-width: 740px) and (orientation: portrait) {
        opacity: 0 !important;
    }
    .tutorial & {
        z-index: $level9;
    }
}
.btn--game {
    width: (191px / 2);
    height: 96px;
    width: 28.59%;
    height: 100%;
    background: red;
    background: url('../img/boton.png') 0 0;
    background-size: 200%;
    @include respond-to(tablet) {
        width: 22.21%;
    }
    &:active {
        background-position: right 0;
    }
    &.disable {
        //        opacity: .5;
    }
}
.barra {
    width: 320px;
    height: 32px;
    margin-left: 2%;
    width: 69.37%;
    height: 41.67%;
    position: relative;
    top: 0;
    left: 0;
    border: 2px solid $cream;
    transition: all $time;
    background: rgba(#3d242a, .5);
    @include respond-to(tablet) {
        border: 2px solid $cream;
        width: 74.42%;
        height: 33.34%;
        background-color: transparent;

    }
    @include respond-to(desktop) {
        border: 3px solid $cream;
    }
}
.barra--fill {
    width: 0;
    height: calc(100% - 4px);
    max-width: calc(100% - 4px);
    margin: 2px;
    background: $fill;
    position: absolute;
    top: 0;
    left: 0;
    transition: all $time;
    @include respond-to(desktop) {
        height: calc(100% - 6px);
        max-width: calc(100% - 6px);
        margin: 3px;
    }
    &.final {
        background: $final;
    }
    &.counter {
        background: $lose;
    }
}
.container__viewport {
    overflow: hidden;
    @media (max-width: 490px) and (orientation: landscape) {
        position: relative;
        top: -20px;
    }
    @media (min-width: 491px) and (max-width: 568px) and (orientation: landscape) {
        position: relative;
        top: -80px;
    }
    @media (orientation: landscape) {
        .apple-six & {
            position: relative;
            top: -80px;
        }
    }
}
.container {
    width: 100%;
    //    height: 1080px;
    text-align: center;
    background: white;
    @include aspect-ratio(16, 9);
    @include respond-to(tablet) {
        @include aspect-ratio(1920, 983);
    }
    overflow: hidden;
    img {
        width: 100%;
    }
}
.container__animation {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 370px;
    height: 450px;
    width: 19.271%;
    height: 35.157%;
    position: absolute;
    top: 455px;
    right: 791px;
}
.tree__anim {
    @include aspect-ratio(488, 610);
    //    max-width: 681px;
    width: 38.125%;
    position: absolute !important;
    z-index: $level2;
    top: 0;
    right: 0;
    .content {
        overflow: hidden;
    }
}
.tree {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    background: url('../img/tree.jpg') 0 0;
    animation: tree 2s steps(24) infinite;
    background-repeat: repeat-x;
    background-size: 2400%;
    @include respond-to(tablet) {
        background-image: url('../img/tree.jpg');
    }
}
.enter__anim {
    @include aspect-ratio(265, 309);
    //    max-width: 284px;
    width: 20.703%;
    position: absolute !important;
    z-index: $level2;
    left: 38.21%;
    top: 41.76%;
    @include respond-to(tablet) {
        top: 46.23%;
    }
}
.enter {
    width: 100%;
    height: 100%;
    background: url('../img-mobile/santa_enter.jpg') 0 0;
    background-repeat: repeat-x;
    background-size: 3000%;
    z-index: $level1;
    display: none;
    @include respond-to(tablet) {
        background-image: url('../img/santa_enter.jpg');
    }
    &.anim--start {
        animation: enter 3s steps(30);
    }
    &.active {
        background-position: -2900% 0;
    }
}
.lose__anim {
    @include aspect-ratio(265, 309);
    //    max-width: 284px;
    width: 20.703%;
    position: absolute !important;
    z-index: $level2;
    left: 38.21%;
    top: 41.76%;
    @include respond-to(tablet) {
        top: 46.23%;
    }
}
.lose {
    width: 100%;
    height: 100%;
    background: url('../img-mobile/santa_lose.jpg') 0 0;
    background-repeat: repeat-x;
    background-size: 4000%;
    display: none;
    z-index: $level2;
    @include respond-to(tablet) {
        background-image: url('../img/santa_lose.jpg');
    }
    animation: lose 3.33s steps(40);
    &.active {
        background-position: -3900% 0;
    }
}
.pull__anim {
    @include aspect-ratio(265, 309);
    //    max-width: 284px;
    width: 20.703%;
    position: absolute !important;
    z-index: $level2;
    left: 38.21%;
    top: 41.76%;
    @include respond-to(tablet) {
        top: 46.23%;
    }
}
.pull {
    width: 100%;
    height: 100%;
    background-position: 0 0;
    background-image: url('../img-mobile/santa_pull.jpg');
    background-size: 2200%;
    background-repeat: repeat-x;
    display: none;
    z-index: $level2;
    @include respond-to(tablet) {
        background-image: url('../img/santa_pull.jpg');
    }
    &.active {
        animation: pull 1.8s steps(22);
    }
}
.win__anim {
    @include aspect-ratio(265, 309);
    //    max-width: 370px;
    width: 20.703%;
    position: absolute !important;
    z-index: $level2;
    left: 38.21%;
    top: 41.76%;
    @include respond-to(tablet) {
        top: 46.23%;
    }
}
.win {
    width: 100%;
    height: 100%;
    background: url('../img-mobile/santa_win.jpg') 0 0;
    background-repeat: repeat-x;
    background-size: 4800%;
    display: none;
    z-index: $level2;
    animation: win 4s steps(48);
    @include respond-to(tablet) {
        background-image: url('../img/santa_win.jpg');
    }
    &.active {
        background-position: -4700% 0;
    }
}
.active {
    opacity: 1;
}
@keyframes enter {
    100% { background-position: -3000% 0; }
}
@keyframes lose {
    100% { background-position: -4000% 0; }
}
@keyframes win {
    100% { background-position: -4800% 0; }
}
@keyframes pull {
    100% { background-position: -2200% 0; }
}
@keyframes tree {
    100% { background-position: -2400% 0; }
}