/*------------------------------------*\
    		$SETTINGS
\*------------------------------------*/

/* ============== // Transition // ============== */

$time: .3s;
$transition-method: ease-in-out;


/* ============== // FONTS // ============== */
$principal : #000;
$cream : #fef7db;
$fill : #6fa4b0;
$final : #9fd2c7;
$lose : #ca1b3c;